{% extends "index.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1>ERRANDY</h1>
  <div class="errand-container">
    <div class="errand-grid">
      {% for request in requests %}
        <div class="errand-card">
          <span class="errand-name">{{ request.user.first_name }} {{ request.user.last_name }}</span>
          <span class="errand-title">{{ request.title }}</span>
        </div>
      {% endfor %}
    </div>
  </div>

  <form action="/create" method="post" class="create-errand-form">
    <input type="text" name="title" placeholder="Errand title">
    <input type="text" name="description" placeholder="Errand description">
    <button type="submit">Post Errand</button>
  </form>
  <span class="material-symbols-outlined">
    add_circle
  </span>
  {% endblock %}