<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Errand/static/styles.css">
    <title>Errandy-Sign-up</title>
</head>
<body>
    <h1 class="logo">Errandy.</h1>
    <div class="container">
        <h2>Sign-up</h2>
        <form action="">
            <label for="name">First Name:</label>
            <input type="name" name="fname" placeholder="John">

            <label for="name">Last Name:</label>
            <input type="name" name="lname" placeholder="Doe">
            
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="abc@example.com">
            
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Sign-up">
        </form>
    </div>
</body>
</html>